body{
    font-family: 'PT Serif', serif;
}



.bg-yellow{
    background-color: #ffc017;

}

.border-bottom-dark{
    border-bottom: 1px solid rgb(41, 41, 41,1);
}

.button_started:hover{
    color: black;
}

.button_started{
    border-radius: 20px;
}

.aside-buttons>li{
    margin-bottom: 10px;
}